<div class="vect-categories-section">
    <div class="vect-category-list" id="vect-categories">
        <div class="vect-category-item active" data-category="all">
            📦 All
        </div>
        <div class="vect-category-item" data-category="fruits">
            🍎 Fruits
        </div>
        <div class="vect-category-item" data-category="beverages">
            🥤 Drinks
        </div>
        <div class="vect-category-item" data-category="snacks">
            🍪 Snacks
        </div>
        <div class="vect-category-item" data-category="dairy">
            🥛 Dairy
        </div>
        <div class="vect-category-item" data-category="bakery">
            🍞 Bakery
        </div>
    </div>
</div>